body {
  margin: 0px;

  background-color: #2d6c52;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-image: url(images/spin.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(138, 255, 197);
  margin: 5px;
  border-radius: 40px;
  border: 5px solid rgba(64, 255, 0, 0.375);
}

img {
  display: none;
}
